/* .abo, .kon, .por {
    display: none;
} */
html{
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
}
body {
    background-color: black;
    margin: 0;
}
body::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;
}
.menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    grid-area: box1;
}

.portfolio {
    grid-area: box2;
}

.kontakt {
    grid-area: box3;
}

.logo {
    grid-area: box4;
}


.nav {
    display: grid;
    grid-template-areas: 'box1 box2' 'box3 box4';
    grid-gap: 2em;
}

.about, .portfolio, .kontakt {
    border: 1px solid #ffffff;
    width: calc(100vw / 4);
    height: calc(100vh / 3);
    position: relative;
}

h3 {
    position: absolute;
    color: white;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(100vh / 9);
    transform: rotate(-90deg);
    right: 0;
    transition: color ease-in-out 0.5s 0s, filter ease-in-out 0.3s 0.05s;
}

.portfolio .menu-text {
    right: 0.3em;
}

.about:hover .menu-text {
    color: blue;
}

.kontakt:hover .menu-text {
    color: red;
}

.portfolio:hover .menu-text {
    color: yellow;
}

.about:hover .blur1 {
    filter: blur(0.5em);
}

.kontakt:hover .blur3 {
    filter: blur(0.5em);
}

.portfolio:hover .blur2 {
    filter: blur(0.5em);
}

.logo {
    position: relative;
}

#logocontainer {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    line-height: 1.2em;
}

#logocontainer a {
    text-decoration: none;
    color: white;
    font-family: Arial, neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(((100vw + 100vh) / 1.85) / 14);
}

#logocontainer #copyright {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: calc(((100vw + 100vh) / 1.85) / 65);
}

@media only screen and (max-width: 50em) {
    .nav {
        display: grid;
        grid-template-areas: 'box4 box1' '  .  box2' '  .  box3';
        grid-gap: 2em;
    }

    h3 {
        font-size: calc(100vh / 15);
    }

    .about, .portfolio, .kontakt, .logo {
        width: calc(100vw / 4);
        height: calc(100vh / 5);
    }

    #logocontainer {
        bottom: unset;
        right: unset;
        line-height: 0.8em;
    }

    #logocontainer a {
        font-size: calc(((100vw + 100vh) / 1.85) / 15);
    }

    #logocontainer #copyright {
        font-size: calc(((100vw + 100vh) / 1.85) / 70);
    }

    @media only screen and (max-width: 30em) {
        .nav {
            display: grid;
            grid-template-areas: '.' 'box4'  'box1' 'box2' 'box3' '.';
            grid-gap: 2em;
        }

        .about, .portfolio, .kontakt {
            width: calc(100vw / 2);
            height: calc(100vh / 10);
            border: none;
        }
        h3 {
            font-size: calc(100vh / 15);
            transform: none;
            top: 0;
            left: 0;
        }
        #logocontainer a {
            font-size: calc(((100vw + 100vh) / 1.85) / 10);
        }

        #logocontainer #copyright {
            font-size: calc(((100vw + 100vh) / 1.85) / 50);
        }
    }
}

.abo, .kon, .por {
    color: white;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.uns{
   -moz-user-select: -moz-none;
   -html-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.gihi{
    cursor: pointer;
    text-decoration: none;
    color: white;
}





